<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <style>
        body {
            margin: 0;
            position: relative;
        }

        .input-form {
            padding: 32px !important;
            background: #fff;
            -moz-border-radius: 10px;
            border-radius: 20px;
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }

        .container {
            min-width: 700px;
        }

        .example {
            display: flex;
            justify-content: center;
            width: 100%;
            min-height: 200px;
            background: rgba(90, 138, 67, 0.73);
        }

        .example2 {
            box-sizing: border-box;
            position: absolute;
            min-height: 500px;
            top: 100px;
        }

        .btn {
            background-color: #86AA75 !important;
            border-color: #86AA75 !important;
        }

        .deleteBtn {
            background-color: #C0C0C0 !important;
            border-color: #C0C0C0 !important;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // 비밀번호 일치 여부 확인
            $("#passwd2").on("keyup", function () {
                var passwd = $("#passwd").val();
                var passwd2 = $("#passwd2").val();
                var mesg = "비밀번호가 다릅니다";

                if (passwd == passwd2) {
                    mesg = "비밀번호가 일치합니다";
                }

                $("#pwcheck").text(mesg);
            });

            $("#emailDomain").change(function () {
                var selectedDomain = $(this).val();
                $("#email2").val(selectedDomain);
            });
        });
    </script>
</head>

<body>
<div th:include="'/common/nav'"></div>
<div class="example" style="font-family: 'SUITE-Regular';">
    <div class="example2 mt-5">
        <div class="container">
            <div class="input-form-backgroud row">
                <div class="input-form col-md-12 mx-auto">
                    <h4 class="mb-3">회원가입</h4>
                    <form action="" method="" class="validation-form" novalidate onsubmit="return validateForm()">

                        <label for="userid">아이디</label> <span style="color: red" id="result"></span>
                        <div class="row">
                            <div class="col-md-9 mb-3">
                                <input type="text" class="form-control" name="userid" id="userid" required
                                       autocomplete="off">
                                <div class="invalid-feedback">아이디를 입력해주세요.</div>
                            </div>
                            <div class="col-md-3">
                                <button type="button" id="idcheck" class="btn btn-primary"
                                        style="height: 2.3rem;">중복확인</button>
                                <br>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="passwd">비밀번호</label>
                                <input type="password" class="form-control" name="passwd" id="passwd" required>
                                <div class="invalid-feedback">비밀번호를 입력해주세요.</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="passwd2">비밀번호 확인</label> &nbsp; <strong><span style="color: green"
                                                                                          id="pwcheck"></span></strong> <input type="password" class="form-control"
                                                                                                                               id="passwd2" required>
                                <div class="invalid-feedback">비밀번호를 입력해주세요.</div>
                            </div>
                        </div>



                        <div class="mb-3">
                            <label for="username">닉네임</label>
                            <input type="text" class="form-control" id="username" name="username" required
                                   autocomplete="off">
                            <div class="invalid-feedback">닉네임을 입력해주세요.</div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mt-2">
                                <label for="email">이메일</label>
                                <input type="text" class="form-control" id="email1" name="email1" autocomplete="off"
                                       required>
                                <div class="invalid-feedback">이메일을 입력해주세요.</div>
                            </div>
                            <div class="col-md-4 mt-2 ">
                                <label for="email"></label>
                                <input type="text" class="form-control" id="email2" name="email2" placeholder="직접입력"
                                       required>
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-md-4 mt-2">
                                <label for="email"></label>
                                <select id="emailDomain" class="form-select">
                                    <option value="">--직접입력--</option>
                                    <option value="daum.net">daum.net</option>
                                    <option value="naver.com">naver.com</option>
                                    <option value="google.com">gmail.com</option>
                                </select>
                            </div>
                        </div>


                        <hr class="mb-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="aggrement" required> <label
                                class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
                        </div>
                        <div class="mb-4"></div>

                        <div style="text-align: center;">
                            <button class="btn btn-primary" type="submit">회원가입</button>
                            <button class="btn btn-primary deleteBtn" type="reset"
                                    style="text-align: center;">취소</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function validateForm() {
            var passwd1 = document.getElementById("passwd").value;
            var passwd2 = document.getElementById("passwd2").value;

            if (passwd1 !== passwd2) {
                alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
                return false;
            }
            return true;
        }

        window.addEventListener('load', () => {
            const forms = document.getElementsByClassName('validation-form');

            Array.prototype.filter.call(forms, (form) => {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    </script>
</body>

</html>