<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>알고리즘 문제 등록</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/mode/clike/clike.min.js"></script>
    <style>
        body {
            margin: 0;
            position: relative;
        }

        .input-form {
            padding: 32px !important;
            background: #fff;
            -moz-border-radius: 10px;
            border-radius: 20px;
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }

        .container {
            min-width: 1400px;
        }

        .example {
            display: flex;
            justify-content: center;
            width: 100%;
            min-height: 200px;
            background: rgba(90, 138, 67, 0.73);
        }

        .example2 {
            box-sizing: border-box;
            position: absolute;
            min-height: 500px;
            top: 100px;
        }

        .btn {
            background-color: #86AA75 !important;
            border-color: #86AA75 !important;
        }

        .deleteBtn {
            background-color: #C0C0C0 !important;
            border-color: #C0C0C0 !important;
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#tier, #level').hide();

            $('#problemSite').change(function () {
                if ($(this).val() === 'BOJ') {
                    $('#tier').empty();
                    // 티어 옵션 추가
                    $('#tier').append(`<option value="Brozen">Brozen</option>`);
                    $('#tier').append(`<option value="Sliver">Sliver</option>`);
                    $('#tier').append(`<option value="Gold">Gold</option>`);
                    $('#tier').append(`<option value="Platinum">Platinum</option>`);
                    $('#tier').append(`<option value="Diamond">Diamond</option>`);
                    $('#tier').append(`<option value="Ruby">Ruby</option>`);

                    $('#tier, #level').show();
                } else if ($(this).val() === 'SWEA') {
                    $('#level').hide();

                    $('#tier').empty();

                    // D1부터 D8까지의 옵션 추가
                    for (let i = 1; i <= 8; i++) {
                        $('#tier').append(`<option value="D${i}">D${i}</option>`);
                    }

                    $('#tier').show();
                } else if ($(this).val() === 'PGM') {
                    $('#level').hide();

                    $('#tier').empty();

                    // Lv.0부터 Lv.5까지의 옵션 추가
                    for (let i = 0; i <= 5; i++) {
                        $('#tier').append(`<option value="Lv.${i}">Lv.${i}</option>`);
                    }

                    $('#tier').show();
                }
            });

            var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
                lineNumbers: true,
                mode: 'text/x-java',
                theme: 'default'
            });

            $('#problemSite, #tier ,#level').change(function () {
                var problemSite = $('#problemSite').val();
                var tier = $('#tier').val();
                if (problemSite === 'BOJ') {
                    var level = $('#level').val();

                    var concatenatedValue = tier + level;

                    $('#difficulty').val(concatenatedValue);
                } else {
                    $('#difficulty').val(tier);
                }
            });

             $("#add").click(function(event){
                event.preventDefault();
                $(".categories").append(`<li class="mx-2"> <input type="text" class="form-control mt-3" name="category"/>
                                </li>`);
            })
        });
    </script>
</head>

<body>
<div th:include="'/common/nav'"></div>
<div class="example" style="font-family: 'SUITE-Regular';">
    <div class="example2 mt-5">
        <div class="container">
            <div class="input-form-backgroud row">
                <div class="input-form col-md-12 mx-auto">
                    <h4 class="mb-3" style="text-align: center; font-weight:bold;">Registration</h4>
                    <form action="problem" method="get" class="validation-form" novalidate
                          onsubmit="return validateForm()">
                        <input type="hidden" name="difficulty" id="difficulty">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="solved" id="Success" value="Success"
                                   checked>
                            <label class="form-check-label" for="Success">
                                Success
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="solved" id="Referenced"
                                   value="Referenced">
                            <label class="form-check-label" for="Referenced">
                                Referenced Success
                            </label>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4 mt-3">
                                <select id="language" name="language" class="form-select">
                                    <option value="" disabled selected hidden>Language</option>
                                    <option value="Java">Java</option>
                                    <option value="Python">Python</option>
                                    <option value="C++">C++</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mt-3">
                                <select id="problemSite" name="problemSite" class="form-select">
                                    <option value="" disabled selected hidden>Site</option>
                                    <option value="BOJ">BOJ</option>
                                    <option value="SWEA">SWEA</option>
                                    <option value="PGM">프로그래머스</option>
                                </select>
                            </div>

                            <div class="col-md-3 mt-3">
                                <select id="tier" name="tier" class="form-select">
                                </select>
                            </div>
                            <div class="col-md-3 mt-3">
                                <select id="level" class="form-select">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10 mt-3">
                                <input type="text" class="form-control" name="title" id="title" required
                                       autocomplete="off" placeholder="title">
                                <div class="invalid-feedback">제목을 입력해주세요.</div>
                            </div>
                        </div>
                        <div class="row">
                            <ul class="categories">
                                <li>
                                    <input type="text" class="form-control mt-3" name="category" placeholder="ex. DFS,DP..."/>
                                </li>
                                <li>
                                     <button class="btn btn-primary mt-3 mx-2" id="add">+</button>
                                </li>
                            </ul>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <textarea id="code" name="code" cols="80" style="white-space: pre-wrap;"></textarea>
                            </div>
                            <div class="col-md-6 mt-3">
                                <textarea class="form-control" id="text" name="text" rows="12" cols="80"
                                          style="white-space: pre-wrap;"></textarea>
                            </div>
                        </div>

                        <div style="text-align: center;">
                            <button class="btn btn-primary mt-3" type="submit">OK</button>
                            <button class="btn btn-primary deleteBtn mt-3" type="reset"
                                    style="text-align: center;">CANCEL
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>